<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->
<mapper namespace="cn.quellanan.dao.MybatisXmlConfigMapper">

    <select id="selectAll" resultType="cn.quellanan.pojo.MybatisXmlConfig">
        select
            id, namespace, sqlidname, resulttype, paramtype, sql ,sqltagtype ,mapperiname
        from mybatis_xml_config
    </select>

    <select id="selectByMappingRel" resultType="cn.quellanan.pojo.MybatisXmlConfig" paramType="cn.quellanan.pojo.MybatisXmlConfig">
        select
            id, namespace, sqlidname, resulttype, paramtype, sqlstatement ,sqltagtype,mapperiname
        from mybatis_xml_config
        where namespace = #{namespace} and mapperiname = #{mapperiname}
    </select>

</mapper>