<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onnoa.shop.mybatis.plus.modules.o.mapper.OcrCustomerOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.onnoa.shop.mybatis.plus.modules.o.domain.OcrCustomerOrder">
        <id column="inst_id" property="instId" />
        <result column="month_id" property="monthId" />
        <result column="scenario_code" property="scenarioCode" />
        <result column="cust_order_id" property="custOrderId" />
        <result column="lan_id" property="lanId" />
        <result column="certi_number" property="certiNumber" />
        <result column="certi_type" property="certiType" />
        <result column="file_id" property="fileId" />
        <result column="file_type" property="fileType" />
        <result column="accept_mode" property="acceptMode" />
        <result column="receipt_file_id" property="receiptFileId" />
        <result column="recept_time" property="receptTime" />
        <result column="accept_date" property="acceptDate" />
        <result column="exec_status" property="execStatus" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="is_pass" property="isPass" />
        <result column="living_image_num" property="livingImageNum" />
        <result column="cert_image_front_num" property="certImageFrontNum" />
        <result column="cert_image_back_num" property="certImageBackNum" />
        <result column="cert_image_file_num" property="certImageFileNum" />
        <result column="other_image_num" property="otherImageNum" />
        <result column="pdf_num" property="pdfNum" />
        <result column="result_msg" property="resultMsg" />
    </resultMap>

</mapper>
