<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onnoa.shop.demo.authority.system.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.onnoa.shop.demo.authority.system.domain.SysUserRole">
    <!--@mbg.generated-->
    <!--@Table sys_user_role-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, user_id, create_time, update_time
  </sql>
</mapper>